


{% extends 'userlayout.html' %}


  
{% block body %}
<nav class="navbar fixed-top" style="background-color:rgb(31, 101, 194); ">
  <div class="container-fluid">
    <h5 style=" color: #5454c9; padding:8px; color:#fff;" ><b>Students Attendance <b> </h5>
      <a href="https://docs.google.com/spreadsheets/u/0/?tgif=d" style="color:#000;"> <img src="static/img/doo.png"  alt=""style="width:25px; height:25px;"> </a>
  </div>
</nav>


{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success mb-3" role="alert">
        {{ message }} 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
    {% endfor %}
{% endif %}
{% endwith %}

<div class="container" style="padding:30px; margin-top:39px;">
  {%for user in users%} 
  <div class="row" style="margin-top:10px; padding:10px;">
    
      <div class="hero" style="display:grid;  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
        <img src="{{user.image_file}} "  alt="" style="width:40px; object-fit:cover;  border-radius:10px; height:40px;margin-top:10px;"  > 
        <h6>{{user.guardian}}<img src="static/img/check.png" style="width:10px; margin-left:5px;"></h6>
        
        <div class="hero" style="display:flex; justify-content:space-between;  ">
            <h6 class="text-muted">{{user.fullname}}</h6>
          <h6 class="text-muted" style="font-size:12px;"> {{ datetime }}</h6>
      </div>
    </div>


    
  </div>
  {% endfor %}  
      </div>




{% endblock body %}
  
   













